<div id="wrapper">

  <div class="navbar-nav sidebar sidebar-dark" id="sidebar">

    <div class="sidebar-brand d-flex align-items-center justify-content-center mx-3">
      Calendar
    </div>

    <hr class="sidebar-divider">
  </div>

  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">

      <div class="navbar navbar-expand navbar-light bg-white topbar" id="topbar"></div>

      <div class="container-fluid">

        <div class="menu">
          <mat-form-field class="month-selector">
            <mat-label>
              Month
            </mat-label>
            <mat-select [value]=selectedMonth (selectionChange)="generateCalendarByMonthSelection($event.value)">
              <mat-option *ngFor="let month of months" [value]="month">
                {{month}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="year-selector">
            <mat-label>
              Year
            </mat-label>
            <mat-select [value]=selectedYear (selectionChange)="generateCalendarByYearSelection($event.value)">
              <mat-option *ngFor="let year of years" [value]="year">
                {{year}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <div *ngFor="let day of calendar" class="square">{{day}}</div>
        </div>

      </div>
    </div>
  </div>
</div>

