<div id="wrapper">

  <div class="navbar-nav sidebar sidebar-dark" id="sidebar">

    <div class="sidebar-brand d-flex align-items-center justify-content-center mx-3">
      Calendar
    </div>

    <hr class="sidebar-divider">
  </div>

  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">

      <div class="navbar navbar-expand navbar-light bg-white topbar" id="topbar"></div>

      <div class="container-fluid">

        <div class="menu">
          <select name="month-selector" id="month-selector" (change)="generateCalendarByMonthSelection($event)"
                  [(ngModel)]="selectedMonth">
            <option *ngFor="let month of months" [value]="month">
              {{ month }}
            </option>
          </select>

          <select name="year-selector" id="year-selector" (change)="generateCalendarByYearSelection($event)"
                  [(ngModel)]="selectedYear">
            <option *ngFor="let year of years" [value]="year">
              {{ year }}
            </option>
          </select>
        </div>

        <div *ngIf="calendar?.days?.length > 0; else loading">
          <div *ngFor="let day of calendar.days" class="square"
               [ngStyle]="day.isCrossedOff ? { 'background-color': 'darkred' } : { 'background-color': 'steelblue' }">
            <div class="day-container">
              <span>{{ day.number }}</span>
              <span *ngIf="day.number < 8">{{ getDayName(day.number) }}</span>
            </div>
          </div>
        </div>

        <ng-template #loading>
          <div>Loading...</div>
        </ng-template>

      </div>
    </div>
  </div>
</div>

