<div *ngIf="calendar?.days?.length > 0; else loading">
  <div *ngFor="let day of calendar.days" class="day"
       [ngStyle]="{'background-color' : getDayColor(day)}">
    <div class="day-container">
      <span>{{ day.number }}</span>
      <span *ngIf="day.number < 8">{{ getDayName(day.number) }}</span>
    </div>
    <span *ngFor="let goal of day.goals" class="goal">
      {{ goal.description }}
    </span>
    <div id="highlight" class="highlight" (click)="crossDay(day)"></div>
  </div>
</div>

<ng-template #loading>
  <div>Loading...</div>
</ng-template>
